
*{
    border:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width:100%;
    height:100vh;

    letter-spacing:0.7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background:black;
    position:absolute;
    display:flex;
    width:100%;
    height:3rem;
    align-items: center;

    
}

header h1{
    color:white;
    font-size: 1.7rem;
    margin: 0 0 0 2rem;
}

.hero-div{
    
    background-image: url("/whatTimeIsIt-hero-img.png");
    height: 100%;  
    display:flex;
    align-items: center;
    justify-content: flex-start;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index:-1;
}

.date-container{
    color:white;
    display:flex;
    
    flex-direction: column;
    text-shadow: 0 0 5px black;
    margin: 0 0 0 11rem;
}

#displayTime{
    font-size: 6rem;
}

#displayWeekday{
    font-size: 3.2rem;
}

.dayAndMonth{
    display:flex;
}
#displayDate{
    font-size: 2.8rem;
    margin: 0 0.8rem 0 0 ;
}

#displayMonth{
    font-size: 2.8rem;
}

footer{
    width:100%;
    height: 3rem;
    position:absolute;
    display:flex;
    bottom: 0;
    background:black;
    z-index: 1000;
}

